body {
    background-color: red !important; /* Force le fond blanc */
    color: #000000 !important; /* Force le texte noir */
  }
  
 
  
  
  ion-item {
    --background: red !important; 
    --color: #020202 !important; /* Texte noir */
    border: none !important; /* Supprime toute bordure potentielle */
    box-shadow: green !important; /* Supprime toute ombre éventuelle */
  }
  ion-item {
    --background: transparent !important; /* Fond transparent */
    --color: #020202 !important; /* Texte noir */
    border: none !important; /* Supprime toute bordure potentielle */
    box-shadow: none !important; /* Supprime toute ombre éventuelle */
}

ion-item p {
    color: #000000 !important; /* Texte des paragraphes en bleu ciel */
    font-size: 16px; /* Taille de police pour une meilleure lisibilité */
    margin: 10; /* Supprime les marges autour des paragraphes */
    padding: 0; /* Supprime les marges internes des paragraphes */
}






  
  